<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074591300137-kt4b5bnbu0nk9uu9qrvevm7ifa3bpsan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074591300137-kt4b5bnbu0nk9uu9qrvevm7ifa3bpsan</string>
	<key>API_KEY</key>
	<string>AIzaSyDdOgsJ1j2N9kfyeb9nYod3BtXlO8HBERs</string>
	<key>GCM_SENDER_ID</key>
	<string>1074591300137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebaseauth-4d9d4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebaseauth-4d9d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074591300137:ios:2a10560c7683dd72257a38</string>
</dict>
</plist>